- @page_title = "Edit Users"

%p
  The Edit Users screen allows you to edit an existing user's account in the instance that they need a password change, or the e-mail account needs to be modified.


%h2
  Changing a user's password
  
%p
  If a user has forgotten their password or would like a password change, then do not touch the name and email field.
  
%p
  Type the new preferred password into the
  %strong
    Password
  field and type it again into the
  %strong
    Confirm Password
  field to ensure the password is entered correctly.
  
%p
  Click on
  %strong
    Save
  when you are done.
  
  
%h2
  Changing a user's email address
  
%p
  %strong.note
    NOTE:
  Changing a user's email address will affect their log in!
  
%p
  To change a user's e-mail address, simply leave all the other fields alone and edit the content in the
  %strong
    Email
  field.
  
%p  
  Click on
  %strong
    Save
  when you are done.
  
  
%h2
  Changing a user's name
  
%p
  To change a user's name, simply leave all the other fields alone and edit the content in the
  %strong
    Name
  field.
  
%p
  Click on
  %strong
    Save
  when you are done.