- @page_title = "Users"

%p
  The
  %strong
    Users
  screen allows you to control who can log in to Gluttonberg to edit your website.
  
%p
  The Main Screen shows you all the users that are currently available within the system.
  
  
  
%h2
  Adding a new user

%p
  To add a new user, click on the
  %strong
    New
  button at the top right of the screen.
  
%p
  This will take you to the New User page, where further instructions will be available.
  
  
  
%h2
  Editing a user
  
%p
  Sometimes you may need to edit an existing user, for example, if they forget their password, or if you need to change their e-mail address.
    
%p
  To edit an existing user, first locate the user you would like to edit, then click on the
  %strong
    Edit
  button in the right of the screen.
  
%p
  Further instructions will be available on the Edit User screen.
  
  
  
%h2
  Deleting a user
  
%p
  If you need to delete a user (for instance, if somebody leaves your business), first locate the user you need to delete, and click on the
  %strong
    Delete
  button in the right of the screen.
  
%p
  You will be prompted to confirm that you really wish to delete the user.
  
%p
  %strong.note
    NOTE:
  Once you delete a user, it cannot be undone.