- @page_title = "New Users"

%p
  When creating a new user, please be sure to fill in all the fields as below:

%h2
  Details
  
%h3
  Name
  
%p
  %strong.note
    REQUIRED:
  Give the user a user name, such as their surname.
  
%h3
  E-Mail
  
%p
  %strong.note
    REQUIRED:
  Type in the user's email address. This name will be used when the user logs into the system.
  
%h3
  Full admin user
  
%p
  The
  %strong
    Full Admin User
  option should only be selected for persons such as Web Development teams.
   
   
%h2
  Password
  
%p
  %strong.note
    REQUIRED:
  Both the
  %em
    Password
  and the
  %em
    Confirm Password
  fields must be entered.
  
%h3
  Password
  
%p
  Enter a password for the user.
  
  
%h3
  Confirm Password
  
%p
  Enter the user's password again. This is to ensure that the password is correct.
  
  
  
%p
  Once you have entered all the information, click on the
  %strong
    save
  option to save the user.
  