- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Galleries", admin_galleries_path} > Add New Gallery"
- @page_image = "/gluttonberg/images/sidebar/icon_content.png"
= render :partial => "form", :locals => {:url => admin_galleries_path}