- @page_title = "Editing an Asset"

%p
  To edit an asset, you first need to locate it within the Asset Library. Once you have located the asset, click on the Edit button in the top-right corner of the screen. This will take you to the edit screen, which is very similar to the Add screen.

%p
  %strong
    NAME 
  %span{:style => "color: red;"}
    (required)
  \: You will need to make sure the Asset has a name. All assets in the Asset Library require a name.

%p
  %strong
    DESCRIPTION:
  It is highly recommended that you give your asset a
  %em
    description.
  This description will appear when disabled or vision-impaired persons view your website. A meaningful description can also help you identify a file within the Asset Library.

%p
  %strong
    CATEGORIES:
  You can add or change the categories your asset belongs to. Categories are similar to "tags", and you can add an asset to as many categories as you like.

%p
  %strong
    FILE TO UPLOAD:
  This allows you to select a file from your computer to add to the Asset Library.



