- @page_title = "Asset Library"

%p
  The Asset Library contains all your website's pictures, videos, documents, and other files you might want to use on your website.
  
%p
  Your assets can be stored in
  %em
    collections
  which allow you to sort your assets.