- @page_title = "Edit Page Content (Localization)"
    
%p
  The
  %strong
    Edit Localization
  screen allows you to edit the content of your website for a particular language or region.
  
%p
  Most people will only have one localization, but if your website has an international audience you may have many.
  


%h2
  Localization Settings
  
%h3
  Name
  
%p
  If your page will have a different name for a particular language, change it here. For instance, if this is a French Localization, you will want to have the French title.
  
%h3
  Navigation Label
  
%p
  As with the Name, if you need to change Menu information for a particular language it should be changed here. This will change the Menus across your website. The Navigation Label should be a short version of the page's Name.
  
  
%h3
  Slug
  
%p
  If you would like the website to have a different web address for a particular language it should be changed here.
  
%p
  Generally it is recommended you avoid this however, as it may make it more difficult for visitors to find the page when jumping from one language to another.
  
  
  
  
%h2
  Content
  
  
%p
  Your Page's content areas will be listed in this section. Depending on the particular page type there may be many different sections here.
  
  
%h3
  Plain Text Sections

%p
  Headings will use
  %strong
    Plain Text
  to allow you to edit them. There are no formatting controls on Plain Text sections.
  
  
%h3
  Rich Text / HTML Sections
  
%p
  Body text areas will allow you to format your text. These sections will have their own formatting buttons at the top to allow you to easily edit text: similar to a Word Processor such as
  %em
    Microsoft Word.
    
%p
  %strong.note
    NOTE:
  If you do not see the formatting controls, please check that your computer allows JavaScript. You may need to check with your Network or System Administrator.
  

%h3
  Image or File Sections
  
%p
  Depending on the page, you may be able to select a file from your
  %strong
    Asset Library
  to add to your page.
  
  
  
  