/* BUTTONS ==========================================================

.buttonAqua,
.buttonGrey
  :text-decoration none !important
  :font-weight bold
  :padding 0.3em 0.6em
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :float left


/* Dark Buttons -----------------------------------------------------
.buttonAqua
  :background
    :color = !dark_buttons_background
    :image url('../images/button_bkg_aqua.gif')
    :repeat repeat-x
  :border = !dark_buttons_border 2px solid
  :color = !dark_buttons_text !important


/* Light Buttons ----------------------------------------------------
.buttonGrey
  :background
    :color = !light_buttons_background
    :position left top 
    :repeat repeat-x 
    :image url('../images/button_bkg_grey.gif')
  :border = !light_buttons_border 2px solid
  :color = !light_buttons_text

.clear-asset
  :margin-left 0.5em

p.empty
  :font-size 2em
  :color #cccccc
  :text-align center
  :padding 5em 0 0 0
  :width 100%
  :float left




/* WIDGETS ==========================================================
p.newLink
  :padding 1em
  
  /* Plus and Minus controls ----------------------------------------
  ul.plusAndMinus
    :margin 0.2em 0 0 1em
    :float left

    li, a
      :width 18px !important
      :height 18px
      :float left

    li
      :border 0 !important
      :padding 0 !important
      :margin 0
      :list-style-type none

    a
      :background left top no-repeat url('../images/form/plus_and_minus.gif')
      :letter-spacing -1000em
      :text-indent -1000em

    .minus
      :background-position right top
      :margin-left 4px !important




/* OVERLAYS AND DIALOGS =============================================

/* Assets Dialog ----------------------------------------------------
#assetsDialogOverlay,
#overlay
  :background url('../images/library/dialog_overlay.png')
  :width 100%
  :height 100%
  :position absolute
  :left 0
  :top 0
  :z-index 20

/* Inline Help Dialog -----------------------------------------------
#helpDialog,
#assetsDialog
  :border 4px solid #807F65
  :background #FFFFCC
  :margin 10% 0 0 10%
  :height 80%
  :width 80%
  :position absolute
  :left 0
  :top 0
  :z-index 21
  /* Border Radius */
  :-moz-border-radius 4px
  :-webkit-border-radius 4px
  
  h1
    :background #807F65
    :color white
    :font
      :weight bold
      :size 1.6em
    :padding 0.2em 0
    :text-indent 10px
    
  .controls
    :border-top 1px solid #AFAE8B
    :padding 0.8em 0
    :height 1.8em
    :width 100%
    :position absolute
    :left 0
    :bottom 0
    li
      :list-style-type none
    
  .display
    :width 100%
    :float left
    :clear both
    :overflow auto
    .assetList
      :left 2%
      :right 2%
      :width 96%
  
    ul.assetList
      :overflow hidden




/* SORTER ===========================================================
#sorterLabel
  :font-weight bold
  :color #666666
  :margin 0.8em 0 0.8em 15px
  :float left

#sorter
  :border-bottom 1px solid #cccccc
  :margin -2.4em 0 0 0
  :width 100%
  :float left

  li, a
    :float left

  li
    :padding 0.4em 0

  a
    :border 1px solid white
    :text-decoration none
    :color #333333
    :padding 0.3em 0.8em

  .current
    :border-color = !current_box_border
    :background = !current_box_background
      

  .first
    :margin-left 6em

  #sortAdded
    :margin-left 5em
    :padding-left 15px




/* PAGINATION =======================================================
#paginator
  :border-top 1px solid #cccccc
  :width 100%
  :float left
  :position relative

  li
    :padding 0.5em 0

  #count
    :font
      :weight bold
      :size 1.2em
    :text-indent 15px
    :color #333333
    :float left

  #previous,
  #next
    :float right
    a
      :background left top no-repeat url('../images/paginator.gif')
      :width 20px
      :height 19px
      :text-indent -1000em
      :letter-spacing -1000em
      :display block

  #previous
    :margin-right 36px
    &.disabled a
      :background-position left bottom !important

  #next 
    :position absolute
    :right 15px
    :top 0
    a
      :background-position right top !important
    &.disabled a
      :background-position right bottom !important
