#tabs
  %ul
    %li
      %a{ :href => "#tabs-browse"} Browse
    %li
      %a{ :href => "#tabs-collection"} Collections
  .clear

#tabs-browse
  %ul.assetList
    - if @category_filter.blank? || @category_filter == "all"
      %li
        %a{:href => admin_asset_category_url(:category => 'all' , :page => 1), :class => "browseAll"}
          %h3 All
    - @categories.each do |category|
      %li
        - text = ( category.name == "uncategorised" ?  "Uncategorised" : category.name.pluralize.capitalize )
        %a{:href => admin_asset_category_url(:category => category.name , :page => 1) , :class => "browse#{text}"}
          %h3= text

#tabs-collection
  - unless @collections.empty?
    %ul.assetList
      - for collection in @collections
        %li
          %a{:href => admin_collection_url(collection), :class => "collection"}
            %h3= collection.name
.clear              
         