%legend
  Add to collection
%fieldset
  = label_tag "collection" , "Create a new collection"    
  = text_field(nil , nil , {:name => 'new_collection[new_collection_name]'      , :class => "large collection text" }  )
%fieldset
  - unless @collections.blank?
    = asset_form.label :asset_collection_ids , "Add asset to existing collection(s)"
    = asset_form.select("asset_collection_ids" ,  @collections.collect{|cc| [cc.name , cc.id] }   , { :include_blank => true  } , { :multiple => true , :class => "large" } )