.fieldset    
  %h4
    Location(s)
  = asset_form.text_field(:location_list, :class => "large tags" , :rel => tags_string("locations") )
  %br

.fieldset    
  %h4
    Character(s)
  = asset_form.text_field(:character_list, :class => "large tags" , :rel => tags_string("characters") )
  %br

.fieldset    
  %h4
    Themes
  = asset_form.text_field(:theme_list, :class => "large tags" , :rel => Sequence.themes_string )
  %br

.fieldset  
  %h4
    Photographer
  = asset_form.text_field(:photographer_list, :class => "large tags" , :rel => tags_string("photographer") )
  %br

    
