
:javascript
  // This is required for asset selector. 
  jQuery(document).ready(function($) {               
       $("#tabs").tabs();                                
  });


%div#assetsDialog  
  %ul#assetsNavigation
    %li#back= link_to("Back", "#back", :class => "button")
    
    %li
      %button#cancel.button
        %img{ :alt => 'Cancel', :src => '/gluttonberg/images/icons/cross.png' }
        Cancel
  %div#assetsDisplay.display
    = render :partial => "browser_root"# , :locals => { :show_content => @show_bigstories_contents }
    
  