- @window_title = "Asset Library"
- @page_title = "#{link_to "Asset Library", admin_library_path} > Bulk uploaded assets"
- @page_image = "/images/sidebar/icon_library.png"

%ul.assetList#assetPanels
  - for asset in @new_assets
    %li
      %a{:href => admin_asset_url(asset), :class => "assetLink"}
        %div
          %img{:src => asset.thumb_small_url}/
        %h2= asset.name
        %p= "Added #{asset.created_at}"
.clear
