- @page_title = "Edit Dialect"

%p
  The
  %strong
    Edit Dialect
  screen will allow you to edit an existing language for use on your website.
  
  
%h2
  Dialect
  
%h3
  Code

%p
  %strong.note
    REQUIRED:
  The Dialect Code should be the
  %strong
    ISO 6391
  standard Language Code for the language you wish to use. For instance, the Language Code for English is
  %em
    en
  and the Language Code for German is
  %em
    de.
    
%h3
  Name
  
%p
  %strong.note
    REQUIRED:
  Give the language a name, such as English.
  
  
%h3
  Make Default
  
%p
  If you have more than one language on your website, you need to choose one that is the default. You can only have one default language.
  
%p
  If this is the only language on your website, you must select
  %strong
    Make Default.