- @page_title = "Dialects"

%p
  The
  %strong
    Dialects
  screen allows you to Add, Edit or Delete the Languages used on your web site. This should only be editable by a Web Developer.
  
  
%p
  Each Dialect is listed in a table with the controls to Edit and Delete to the right.
  
  
%h2
  Adding a Dialect
  
%p
  To Add a new Dialect, click on the
  %strong
    New
  button at the top-right of the screen. This will take you to the
  %strong
    Add Dialect
  screen where further help will be available.
  
  
  
%h2
  Editing a Dialect
  
%p
  To Edit an existing Dialect, click on the
  %strong
    Edit
  button to the right of the dialect you would like to edit.
  
  
%h2
  Deleting a Dialect
  
%p
  To delete a Dialect, click on the
  %strong
    Delete
  button to the right of the dialect you would like to delete.
  
%p
  %strong.note
    NOTE:
  Once you delete a dialect, it cannot be undone!