- @page_title = "Editing an Asset"

%p
  If you need to change some information about an Asset, or upload a new file, you can do this from the
  %strong
    Edit Asset
  screen.
  
  
%h2
  Details
  
%h3
  Name
  
%p
  %strong.note
    REQUIRED:
  You will need to make sure that the asset has a name. Please make sure it is short but descriptive.
  
  
%h3
  Description
  
%p
  It is highly recommended that you give your asset a
  %em
    description.
  This description will appear when disabled or vision-impaired persons view your website. A meaningful description can also help you identify a file within the Asset Library.
  
%h2
  Collections
  
%p
  You can add or change the Collections your asset belongs to. Collections are similar to "tags", and you can add an asset to as many collections as you like.
  
%h3
  Adding a New Collection
  
%p
  If you want to add a new collection, you can do so simply by typing the Collection name into the text box next to the check.
  
  
  
%h2
  File to Upload


%p
  This allows you to select a file from your computer to add to the Asset Library.
  
%p
  Click on the
  %strong
    Choose File
  button to browse your computer for a file to use.
  
%p
  Once you have selected a file, it will show its name on the screen.