- @page_title = "Adding a new asset"

%p
  Adding a new asset to Gluttonberg is simple.


%h2
  Details
  
%h3
  Name
  
%p
  %strong.note
    REQUIRED:
  You need to make sure your Asset has a name. This should be short and descriptive. 


%h3
  Description

%p
  It is strongly recommended that you give your asset a
  %strong
    Description.
  This description will appear when disabled or vision-impaired persons view your website. A meaningful description can also help you identify a file within the Asset Library.
  
%p
  You can format the Description is you choose, using the formatting controls at the top of the text box.
  
  
  
%h2
  Collections
  
%p
  You can add or change the Collections that your asset belongs to. Collections are similar to "tags", and you can add an asset to as many Collections as you like.
  
%h3
  Adding a New Collection
  
%p
  If you want to add a new collection, you can do so simply by typing the Collection name into the text box next to the check.
  
  
%h2
  File to Upload
  
%p
  This allows you to select a file from your computer to add to the Asset Library.
  
%p
  Click on the
  %strong
    Choose File
  button to browse your computer for a file to use.
  
%p
  Once you have selected a file, it will show its name on the screen.
  
