- @page_title = "Adding a new asset"

%p
  Adding new assets to Gluttonberg in bulk is simple.


%h2
  Details
  
%h2
  Collections
  
%p
  You can add or change the Collections that your asset belongs to. Collections are similar to "tags", and you can add an asset to as many Collections as you like.
  
%h3
  Adding a New Collection
  
%p
  If you want to add a new collection, you can do so simply by typing the Collection name into the text box next to the check.
  
  
%h2
  File to Upload
  
%p
  This allows you to select a zip file from your computer to add to the Asset Library.
  
%p
  Click on the
  %strong
    Choose File
  button to browse your computer for a zip file to use.
  
%p
  Once you have selected a zip file, it will show its name on the screen.
  

%h2 Processing of zip file
%p
  System will take each file from the root of zip file and create new asset. Every asset of will get same collection(s) based on what you have selected. Name of assets will be taken from file name. 
