- @page_title = "Asset Library"

%p
  The Asset Library contains all your website's pictures, videos, documents, and other files you might want to use on your website.

You can find you assets:

%ul
  %li by navigating through collections
  %li By navigating through asset categories (All, Audios, Images, Videos, Documents or Uncategorised)
  %li in recent tab
  %li by search form  

%h2 Edit an asset 
%p
  To edit an asset, you first need to locate it within the Asset Library. Once you have located the asset, click on the Edit button in the top-right corner of the screen. This will take you to the edit screen, which is very similar to the Add screen.  