/* Base colours */
/* DARK BUTTONS (Default: Blue) ----------------- */
/* LIGHT BUTTONS (Default: Grey) ---------------- */
/* ERROR COLOURS -------------------------------- */
/* SIDEBAR BASE --------------------------------- */
/* SHARED HYPERLINK COLOURS --------------------- */
/* ASSET LIBRARY -------------------------------- */
/* TABLE COLOURS -------------------------------- */
/* FORM COLOURS --------------------------------- */
/* HELP COLOURS --------------------------------- */
/* ================================================================== */
/* Reset base styles - Assume nothing */
/* ================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-align: left; }

li {
  list-style-type: none; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body {
  background-color: #1b1b1b;
  margin: 20px 20px 20px 220px;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 82%; }

/* ================================================================== */
/* Import everything else */
/* ================================================================== */
/* HEADINGS ========================================================= */
#wrapper h2 {
  font-size: 1.2em; }
#wrapper h2#pageTitle {
  background-color: #244e66;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-image: url('../images/pagetitle_bkg.gif');
  color: #ffffff;
  font-size: 1.6em;
  height: 22px;
  padding: 8px 15px; }
#wrapper h1#loginTitle {
  background-color: #244e66;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-image: url('../images/pagetitle_bkg.gif');
  color: #ffffff;
  font-size: 1.6em;
  height: 22px;
  padding: 8px 15px;
  margin-bottom: 50px; }

.show#assets #wrapper h2#pageTitle {
  margin: 0;
  font-weight: normal; }

/* SIDEBAR ========================================================== */
#sidebar {
  position: absolute;
  left: 0;
  top: 20px; }
  #sidebar h1 {
    border-bottom: #333333 1px solid;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url('../images/heading_bkg.gif');
    color: #ffffff;
    font-size: 1.6em;
    text-indent: 43px;
    padding: 8px 0;
    width: 220px;
    height: 1em; }
  #sidebar h2#navTitle {
    height: 0;
    /* hide text */
    letter-spacing: -1000em;
    text-indent: -10000em; }
  #sidebar form {
    padding: 0; }
  #sidebar input {
    border: 2px solid #2F759A;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    padding: 0.3em 10px; }
  #sidebar ul {
    border-bottom: #333333 1px solid;
    padding: 10px; }
    #sidebar ul a {
      background-position: left center;
      background-repeat: no-repeat;
      background-image: url('../images/sidebar/icon_dashboard.png');
      color: #ffffff !important;
      text-decoration: none !important;
      font-weight: bold;
      padding: 0.6em 0 0.6em 20px;
      display: block; }
  #sidebar li {
    padding: 0 10px;
    display: block; }
  #sidebar li.current {
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('../images/sidebar/current_bkg.gif');
    /* Browser-specific border-radius */
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px; }
  #sidebar #contentNav a {
    background-image: url('../images/sidebar/content.png'); }
  #sidebar #libraryNav a {
    background-image: url('../images/sidebar/library.png'); }
  #sidebar #settingsNav a {
    background-image: url('../images/sidebar/settings.png'); }
  #sidebar #FeedbackNav a {
    background-image: url('../images/sidebar/feedback.png'); }
  #sidebar p {
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url('../images/sidebar/icon_logged_in.gif');
    color: #8b8b8b;
    padding: 0 0 0 30px;
    margin: 10px 20px 0 20px;
    width: 150px; }
    #sidebar p strong, #sidebar p a {
      color: #ffffff !important; }

/* WRAPPER ========================================================== */
#wrapper {
  background-color: transparent;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url('../images/wrapper_bkg.png');
  padding: 0 7px 7px 0;
  width: 100%;
  min-height: 30em;
  float: left; }

/* SUB-NAVIGATION =================================================== */
#subnav {
  background-color: #2b3134;
  background-position: left center;
  background-repeat: repeat-x;
  background-image: url('../images/subnav_bkg.gif');
  border-top: #2b3134 1px solid;
  border-bottom: #2b3134 1px solid;
  padding: 4px 0;
  height: 23px;
  width: 100%;
  float: left; }
  #subnav li {
    float: left; }
  #subnav a {
    font-weight: bold;
    text-decoration: none !important;
    padding: 0.3em 0.6em;
    margin: 2px 0 2px 15px;
    float: left; }
  #subnav #backLink a {
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../images/sub_nav_back_bkg.gif');
    color: #244e66 !important;
    padding-left: 13px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
  #subnav .button {
    float: right; }
    #subnav .button a {
      color: #ffffff !important;
      background-color: #244e66;
      background-image: url('../images/button_bkg_aqua.gif');
      background-repeat: repeat-x;
      border: #082536 1px solid;
      margin: 1px 8px 0 0;
      -webkit-border-radius: 3px; }

#assets.show #wrapper #subnav li {
  padding: 0 !important; }

/* TAB BAR ========================================================== */
#tabBar {
  background: #666666;
  padding: 0.6em 0 0 0;
  width: 100%;
  float: left; }
  #tabBar li, #tabBar a {
    float: left; }
  #tabBar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.4em 15px 0.7em 15px;
    margin: 0 0 0 15px; }
  #tabBar .current a {
    background: white;
    color: #244e66;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px; }

/* ICON NAVIGATION ================================================== */
#iconNav {
  margin: 2em 2% 0 2%;
  width: 96%;
  float: left; }
  #iconNav li, #iconNav a {
    float: left; }
  #iconNav a {
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-size: 1.5em;
    padding: 85px 0 0 0;
    width: 8em; }

/* Base styles */
form {
  margin-top: 25px;
  padding: 20px 25px; }

fieldset {
  border: 0; }

legend {
  font-size: 1.2em;
  color: #1b1b1b;
  padding: 0 0 0.35em 7px; }

div.fieldset,
ol.fieldset {
  background: #e1f2f3;
  border: #b4e8e9 1px solid;
  padding: 1.5em 0 0.5em 0;
  margin: 0 0 1.5em 0;
  width: 99.9%;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

label {
  font-weight: bold;
  text-align: right;
  padding: 0.2em 0.6em 0.2em 0;
  margin: 1px 0 0 0;
  width: 12em;
  float: left;
  clear: left; }

label.checkbox {
  text-align: left;
  clear: right;
  margin-left: 0.6em; }

label.inline {
  margin-left: 0.6em;
  width: auto;
  clear: none; }

input.inline {
  clear: none; }

.mceEditor {
  float: left; }

input.text,
input.password,
input.checkbox,
input.radio,
textarea,
select {
  margin-bottom: 1em;
  float: left;
  clear: right; }

input.checkbox,
input.radio {
  margin-top: 0.35em;
  margin-left: 12.6em;
  clear: left; }

/* Input/textarea styles and widths */
input.text,
input.password,
textarea {
  background: white left top no-repeat url('../images/form/input_bkg.gif');
  border: #999999 1px solid;
  padding: 0.2em 0.5em; }

input.tiny {
  width: 2em; }

input.small,
textarea.small {
  width: 5em; }

input.medium,
textarea.medium {
  width: 10em; }

input.large {
  width: 20em; }

textarea.large {
  width: 35em; }

textarea.short {
  height: 5em; }

textarea.medium {
  height: 10em; }

textarea.tall {
  height: 20em; }

/* Selects */
select {
  margin-top: 0.3em; }

/* Form controls — save/cancel */
p.controls {
  border-top: 1px solid #cccccc;
  padding: 1em 0 0 0;
  margin: 0.5em 0 0 0; }
  p.controls a {
    color: #408eb3; }
  p.controls a:hover {
    color: #c26b31; }
  p.controls input {
    background: #cccccc left top repeat-x url('../images/button_bkg_grey.gif');
    border-width: 2px;
    border-style: solid;
    border-color: #244e66;
    color: #244e66;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.3em 0.4em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  p.controls strong {
    font-size: 1.2em; }

/* Error display */
div.error {
  background: 25px 10px no-repeat url('../images/form/warning.gif');
  background-color: #ffffcc;
  border: !error_border 2px solid;
  padding: 15px 0;
  margin: 0 0 1.5em 0;
  min-height: 45px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  div.error h2, div.error ul, div.error p {
    margin-left: 110px; }
  div.error h2, div.error p {
    color: #666666; }
  div.error li {
    font-size: 1.2em;
    padding: 0.3em 0 0 0;
    display: block; }

/* Inline help */
form p.help {
  color: #333333;
  margin: 0.4em 0 1em 12.6em;
  width: 25em;
  float: left;
  clear: both; }

/* Localization selector */
#select-localization {
  border-bottom: 1px solid #cccccc;
  background: #E9E9E9;
  padding-top: 0.7em;
  height: 0.8em; }
  #select-localization label {
    position: absolute;
    left: -1000em; }
  #select-localization select {
    font-size: 1.2em;
    margin: 0.1em 0.6em 0 0; }

table {
  width: 100%;
  clear: both;
  border-bottom: #dddddd 1px solid; }

thead th {
  background-color: #eaeaea;
  background-position: left top;
  background-repeat: repeat-x;
  background-image: url('../images/table_head_bkg.gif');
  border-top: #b3b3b3 1px solid;
  border-bottom: #b3b3b3 1px solid;
  font-weight: bold;
  font-size: 0.9em;
  padding: 0.4em 15px 0.5em 15px;
  color: #616161; }

tbody th {
  background: #F2F2F2;
  font-size: 1.2em;
  color: #999999; }

td {
  padding: 5px 15px; }

tr.even td {
  background-color: #f3f2f2; }

table .controls {
  border-right-width: 0; }

th.controls {
  letter-spacing: -1000em;
  text-indent: -1000em; }

td.controls a {
  margin: 0 0.5em 0 0;
  float: left;
  color: #408eb3; }
td.controls a:hover {
  color: #c26b31; }

tr.insert_after td {
  border-bottom: 2px solid #000000;
  padding-bottom: 4px; }

tr.insert_before td {
  border-top: 2px solid #000000;
  padding-top: 4px; }

.treeTable tr.insert_child {
  background-color: #3875d7;
  color: #fff; }

.treeTable .ui-draggable-dragging {
  color: #000;
  z-index: 1; }

/* Asset Library */
.assetList {
  margin-left: 4%;
  margin-right: 4%;
  width: 92%;
  float: left; }

h2.assetList {
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  color: #333333;
  padding: 0 0 0.3em 0;
  margin-top: 1em;
  margin-bottom: 0.6em; }

ul.assetList {
  margin-bottom: 1em; }
  ul.assetList li, ul.assetList a {
    width: 18em;
    float: left;
    overflow: hidden; }
  ul.assetList h3 {
    color: black !important;
    font-size: 1.1em;
    width: 11em;
    margin-bottom: 0.2em; }
  ul.assetList p {
    color: #666666 !important;
    font-size: 0.9em; }
  ul.assetList a {
    background: left top no-repeat;
    text-decoration: none;
    padding: 14px 0 0 78px;
    min-height: 56px; }
  ul.assetList a.assetArchive,
  ul.assetList a.assetAudio,
  ul.assetList a.assetBinary,
  ul.assetList a.assetDocument,
  ul.assetList a.assetImage,
  ul.assetList a.assetVideo {
    background-image: url('../images/library/asset_generic_medium.gif'); }
  ul.assetList a.collection {
    background-image: url('../images/library/collection_medium.gif'); }
  ul.assetList a.browseAll {
    background-image: url('../images/library/browse_all_medium.gif'); }
  ul.assetList a.browseArchives {
    background-image: url('../images/library/browse_archives_medium.gif'); }
  ul.assetList a.browseAudios {
    background-image: url('../images/library/browse_audio_medium.gif'); }
  ul.assetList a.browseBinaries {
    background-image: url('../images/library/browse_binaries_medium.gif'); }
  ul.assetList a.browseDocuments {
    background-image: url('../images/library/browse_documents_medium.gif'); }
  ul.assetList a.browseImages {
    background-image: url('../images/library/browse_images_medium.gif'); }
  ul.assetList a.browseVideos {
    background-image: url('../images/library/browse_videos_medium.gif'); }
  ul.assetList a.browseUncategorised {
    background-image: url('../images/library/browse_uncategorised_medium.gif'); }

/* Assets */
#assets.show #subnav {
  margin-bottom: 30px; }
#assets.show #wrapper {
  position: relative; }
  #assets.show #wrapper h2, #assets.show #wrapper h3, #assets.show #wrapper p, #assets.show #wrapper dl, #assets.show #wrapper ul.collections {
    margin-left: 340px;
    margin-right: 30px; }
  #assets.show #wrapper h2 {
    font-weight: bold;
    margin-bottom: 0.3em; }
  #assets.show #wrapper h3 {
    border-bottom: 1px solid #E6E6E6;
    font-size: 0.88em;
    font-weight: bold;
    padding-bottom: 0.6em;
    margin-bottom: 0.5em; }
  #assets.show #wrapper dl {
    margin-bottom: 2em; }
  #assets.show #wrapper dt {
    font-weight: bold;
    color: #333333;
    padding: 0.2em 0;
    width: 5.5em;
    float: left;
    clear: left; }
  #assets.show #wrapper dd {
    padding: 0.3em 0 0.1em 0;
    clear: right; }
  #assets.show #wrapper ul {
    margin-bottom: 2em; }
  #assets.show #wrapper li {
    padding: 0.3em 0 0.1em 0; }
#assets.show #preview {
  text-align: center;
  margin-top: 30px;
  width: 250px;
  height: 200px;
  position: absolute;
  left: 50px;
  top: 5.3em;
  overflow: hidden; }
#assets.show #assetID {
  background: #006699;
  color: white;
  text-align: center;
  padding: 0.2em 0.4em;
  margin-top: 30px;
  position: absolute;
  right: 10px;
  top: 5.3em; }
  #assets.show #assetID strong {
    font-size: 1.8em;
    text-align: center;
    display: block; }
#assets.show #categoryAndType {
  color: #666666;
  margin-bottom: 1.5em; }
#assets.show #description {
  margin-bottom: 1.5em; }
#assets.show #public-path {
  margin-left: 340px;
  width: 22em;
  clear: both;
  float: left; }
#assets.show #public-path-note {
  font-size: 0.9em;
  color: #333333;
  padding-bottom: 1em;
  clear: both;
  float: left; }

/* Asset browser link */
.assetBrowserLink {
  margin-bottom: 1em;
  float: left;
  clear: right; }
  .assetBrowserLink strong, .assetBrowserLink a {
    float: left; }
  .assetBrowserLink strong {
    background-color: #d4eaf7;
    border: 1px solid #999999;
    whitespace: nowrap;
    padding: 0.35em 0.8em;
    margin: 0 0.5em 0 0;
    width: 17em;
    overflow: hidden; }

/* Asset Browser */
#assetsDialog h1 {
  background: #807F65;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  padding: 0.2em 0;
  text-indent: 10px; }
#assetsDialog #assetsNavigation {
  background: #666550;
  width: 100%;
  float: left; }
  #assetsDialog #assetsNavigation li, #assetsDialog #assetsNavigation a {
    float: left; }
  #assetsDialog #assetsNavigation li {
    padding: 0.5em 0;
    height: 1.9em; }
  #assetsDialog #assetsNavigation a {
    background: left center no-repeat url('../images/library/back.gif');
    font-weight: bold;
    color: #666550;
    text-decoration: none;
    padding: 0.5em 10px 0.5em 18px;
    margin: 0 0 0 8px;
    /* Browser-specific border-radius */
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; }
#assetsDialog #assetPanels a {
  border-color: #FFFFCC !important; }
#assetsDialog #assetsSearch {
  float: right !important; }
  #assetsDialog #assetsSearch label {
    color: white;
    padding: 0.4em 0.5em 0 0; }
  #assetsDialog #assetsSearch input {
    background: white left center no-repeat url('../images/library/search_icon.gif');
    border: 2px solid #373B40;
    padding: 0.3em 0.6em 0.3em 28px;
    width: 12em; }
#assetsDialog form {
  padding: 0 10px 0 0; }
#assetsDialog #upload {
  margin-left: 15px;
  float: left; }
#assetsDialog #cancel {
  margin-right: 15px;
  float: right; }

/* Asset panels */
#assetPanels {
  margin: 1em 2%;
  width: 98%;
  float: left; }
  #assetPanels li, #assetPanels a {
    float: left; }
  #assetPanels a {
    border: 2px solid white;
    text-decoration: none;
    color: black;
    padding: 10px 10px 10px 130px;
    width: 10em;
    min-height: 75px;
    position: relative; }
    #assetPanels a:hover {
      border-color: #244e66; }
  #assetPanels div {
    text-align: center;
    width: 110px;
    height: 75px;
    position: absolute;
    left: 10px;
    top: 10px;
    overflow: hidden; }
  #assetPanels h2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 10px 0.2em 0; }
  #assetPanels p {
    font-size: 0.85em;
    color: #666666; }

/* BUTTONS ========================================================== */
.buttonAqua,
.buttonGrey {
  text-decoration: none !important;
  font-weight: bold;
  padding: 0.3em 0.6em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  float: left; }

/* Dark Buttons ----------------------------------------------------- */
.buttonAqua {
  background-color: #244e66;
  background-image: url('../images/button_bkg_aqua.gif');
  background-repeat: repeat-x;
  border: #082536 2px solid;
  color: #ffffff !important; }

/* Light Buttons ---------------------------------------------------- */
.buttonGrey {
  background-color: #cccccc;
  background-position: left top;
  background-repeat: repeat-x;
  background-image: url('../images/button_bkg_grey.gif');
  border: #244e66 2px solid;
  color: #244e66; }

.clear-asset {
  margin-left: 0.5em; }

p.empty {
  font-size: 2em;
  color: #cccccc;
  text-align: center;
  padding: 5em 0 0 0;
  width: 100%;
  float: left; }

/* WIDGETS ========================================================== */
p.newLink {
  padding: 1em;
  /* Plus and Minus controls ---------------------------------------- */ }
  p.newLink ul.plusAndMinus {
    margin: 0.2em 0 0 1em;
    float: left; }
    p.newLink ul.plusAndMinus li, p.newLink ul.plusAndMinus a {
      width: 18px !important;
      height: 18px;
      float: left; }
    p.newLink ul.plusAndMinus li {
      border: 0 !important;
      padding: 0 !important;
      margin: 0;
      list-style-type: none; }
    p.newLink ul.plusAndMinus a {
      background: left top no-repeat url('../images/form/plus_and_minus.gif');
      letter-spacing: -1000em;
      text-indent: -1000em; }
    p.newLink ul.plusAndMinus .minus {
      background-position: right top;
      margin-left: 4px !important; }

/* OVERLAYS AND DIALOGS ============================================= */
/* Assets Dialog ---------------------------------------------------- */
#assetsDialogOverlay,
#overlay {
  background: url('../images/library/dialog_overlay.png');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20; }

/* Inline Help Dialog ----------------------------------------------- */
#helpDialog,
#assetsDialog {
  border: 4px solid #807F65;
  background: #FFFFCC;
  margin: 10% 0 0 10%;
  height: 80%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 21;
  /* Border Radius */ */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  #helpDialog h1,
  #assetsDialog h1 {
    background: #807F65;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    padding: 0.2em 0;
    text-indent: 10px; }
  #helpDialog .controls,
  #assetsDialog .controls {
    border-top: 1px solid #AFAE8B;
    padding: 0.8em 0;
    height: 1.8em;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; }
    #helpDialog .controls li,
    #assetsDialog .controls li {
      list-style-type: none; }
  #helpDialog .display,
  #assetsDialog .display {
    width: 100%;
    float: left;
    clear: both;
    overflow: auto; }
    #helpDialog .display .assetList,
    #assetsDialog .display .assetList {
      left: 2%;
      right: 2%;
      width: 96%; }
    #helpDialog .display ul.assetList,
    #assetsDialog .display ul.assetList {
      overflow: hidden; }

/* SORTER =========================================================== */
#sorterLabel {
  font-weight: bold;
  color: #666666;
  margin: 0.8em 0 0.8em 15px;
  float: left; }

#sorter {
  border-bottom: 1px solid #cccccc;
  margin: -2.4em 0 0 0;
  width: 100%;
  float: left; }
  #sorter li, #sorter a {
    float: left; }
  #sorter li {
    padding: 0.4em 0; }
  #sorter a {
    border: 1px solid white;
    text-decoration: none;
    color: #333333;
    padding: 0.3em 0.8em; }
  #sorter .current {
    border-color: #7eb2bc;
    background: #c3eded; }
  #sorter .first {
    margin-left: 6em; }
  #sorter #sortAdded {
    margin-left: 5em;
    padding-left: 15px; }

/* PAGINATION ======================================================= */
#paginator {
  border-top: 1px solid #cccccc;
  width: 100%;
  float: left;
  position: relative; }
  #paginator li {
    padding: 0.5em 0; }
  #paginator #count {
    font-weight: bold;
    font-size: 1.2em;
    text-indent: 15px;
    color: #333333;
    float: left; }
  #paginator #previous,
  #paginator #next {
    float: right; }
    #paginator #previous a,
    #paginator #next a {
      background: left top no-repeat url('../images/paginator.gif');
      width: 20px;
      height: 19px;
      text-indent: -1000em;
      letter-spacing: -1000em;
      display: block; }
  #paginator #previous {
    margin-right: 36px; }
    #paginator #previous.disabled a {
      background-position: left bottom !important; }
  #paginator #next {
    position: absolute;
    right: 15px;
    top: 0; }
    #paginator #next a {
      background-position: right top !important; }
    #paginator #next.disabled a {
      background-position: right bottom !important; }

/* This stylesheet controls the display of Gluttonberg's Help Functions */
/* CONTEXTUAL HELP ICON ============================================= */
#contextualHelp {
  margin: -2.25em 15px 0 0;
  float: right; }
  #contextualHelp a {
    background: left center no-repeat url('../images/help/icon.gif');
    color: white !important;
    text-decoration: none;
    padding: 0.4em 0 0.4em 22px;
    display: block; }

/* HELP DIALOG BOX ================================================== */
#helpDialog .display {
  padding: 1.5em 4% 0 4%;
  width: 92%; }
#helpDialog #closeHelp {
  margin: 0 15px 0 0;
  float: right; }
#helpDialog p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.166667em; }
#helpDialog h2, #helpDialog h3 {
  font-weight: bold;
  color: #365c6e; }
#helpDialog h2 {
  border-bottom: #365c6e 2px solid;
  font-size: 1.333333em;
  line-height: 1.3125em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  background: #e6ebc1;
  padding: 15px 3px 3px 3px; }
#helpDialog h3 {
  font-size: 1.166667em;
  margin-top: 1.5em;
  margin-bottom: 0.75em; }
#helpDialog strong.note {
  color: red; }
#helpDialog abbr {
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.05em; }
#helpDialog ul {
  line-height: 1em;
  margin-bottom: 10px; }
#helpDialog li {
  margin-left: 20px;
  line-height: 1.166667em;
  list-style-type: circle; }

/* DELETION CONFIRMATION ============================================ */
#delete {
  margin-left: 20px; }
  #delete form {
    background: 15px 25px no-repeat url('../images/form/warning.gif');
    background-color: #ffffcc;
    border: #807f65 4px solid;
    margin: 8em auto 0 auto;
    padding-left: 90px;
    width: 25em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }
  #delete h1 {
    font-weight: bold;
    font-size: 2em;
    color: #244e66; }
  #delete p.message {
    font-size: 1.2em;
    margin: 0.3em 0 1em 0;
    line-height: 1.2; }

/* LOGIN PAGE ======================================================= */
#login {
  margin: 60px 20% 0 20%; }
  #login h1 {
    margin-bottom: 2em; }
  #login .buttonGrey {
    margin-left: 12.6em;
    clear: both; }
  #login .forgot-password {
    float: left;
    padding: 4px;
    margin-left: 20px; }
    #login .forgot-password a {
      color: #408eb3; }
    #login .forgot-password a:hover {
      color: #c26b31; }

/* PAGE INDEX ======================================================= */
table .published {
  width: 5em; }
table .behaviour {
  width: 6em; }
table .page, table .home {
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0.2em 0;
  text-indent: 22px;
  display: block; }
table .page {
  background-image: url('../images/content/page.gif'); }
table .home {
  background-image: url('../images/content/home.gif'); }

/* Page form -------------------------------------------------------- */
#pageBehaviours input, #pageBehaviours label {
  margin-bottom: 0; }
#pageBehaviours select {
  margin-left: 12.6em;
  min-width: 13em;
  clear: both; }

/* Page show -------------------------------------------------------- */
#page_localizations .pageBlock {
  border-bottom: 1px solid #CCCCCC;
  padding: 40px 3% 5px 3%;
  width: 94%;
  float: none;
  margin-bottom: 25px; }
  #page_localizations .pageBlock h2 {
    font-weight: bold; }

#pages .pageBlock {
  border-bottom: 1px solid #CCCCCC;
  padding: 2em 3%;
  width: 94%;
  float: left; }
  #pages .pageBlock span {
    font-size: 0.88em;
    color: #333333; }
  #pages .pageBlock h2 {
    font-weight: bold;
    width: 8.5em;
    float: left; }
  #pages .pageBlock dt, #pages .pageBlock strong {
    color: #244e66; }
  #pages .pageBlock table, #pages .pageBlock ul, #pages .pageBlock dl {
    float: left;
    clear: none; }
  #pages .pageBlock table {
    width: 35em; }
  #pages .pageBlock table .controls a {
    margin: 0;
    float: right; }
  #pages .pageBlock thead {
    display: none; }
  #pages .pageBlock td {
    border-right: 0;
    padding-left: 0; }
  #pages .pageBlock dl {
    width: 30em; }
  #pages .pageBlock dd, #pages .pageBlock dt {
    padding: 0.3em 0; }
  #pages .pageBlock dt {
    font-weight: bold;
    width: 7em;
    float: left !important;
    clear: left; }
  #pages .pageBlock dd {
    padding-top: 0.35em;
    clear: right; }

.meta {
  font-size: 0.85em;
  color: #333333;
  padding: 1.5em 3%;
  width: 96%;
  float: left; }
  .meta dt {
    font-weight: bold;
    margin-right: 0.5em;
    float: left; }
  .meta dd {
    margin-right: 1.5em;
    float: left; }

/* GENERIC SETTINGS PAGE ============================================ */
#generic_settings small {
  font-size: 0.9em;
  margin: 15px; }

/* CONTENTS PAGE ==================================================== */
/* Contents list ---------------------------------------------------- */
#pageContent {
  background: #F8F8F8; }
  #pageContent li {
    background: left top no-repeat url('../images/page_content_fillin.gif');
    text-align: center;
    padding: 80px 0 0 0;
    margin: 0 1em 0 0;
    width: 127px;
    float: left; }
  #pageContent span {
    text-align: center;
    display: block; }

/* Contents Page Icons ---------------------------------------------- */
#iconNav #pagesNav {
  background-image: url('../images/content/pages.gif'); }
#iconNav #news_storiesNav {
  background-image: url('../images/content/newsstories.gif'); }
#iconNav #companiesNav {
  background-image: url('../images/content/companies.gif'); }
#iconNav #showsNav {
  background-image: url('../images/content/shows.gif'); }
#iconNav #venuesNav {
  background-image: url('../images/content/venues.gif'); }

/* Templates form */
#templateSections li {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  float: left;
  position: relative; }
#templateSections li.last {
  border: 0; }

/* LOCALES PAGE ICONS =============================================== */
#iconNav #usersNav {
  background-image: url('../images/settings/users.gif'); }
#iconNav #dialectsNav {
  background-image: url('../images/settings/dialects.gif'); }
#iconNav #localesNav {
  background-image: url('../images/settings/locales.gif'); }
#iconNav #metadataNav {
  background-image: url('../images/settings/metadata.gif'); }

/* Locales form ----------------------------------------------------- */
#dialects .checkbox {
  margin-bottom: 0.5em; }

.ui-accordion {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid #d3d3d3; }

.ui-accordion-group {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  border: 1px solid #d3d3d3;
  border-bottom: none; }

.ui-accordion-header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  cursor: pointer;
  background: #e6e6e6 url(../images/tabs/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
  .ui-accordion-header a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    display: block;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    padding: .5em .5em .5em 1.7em;
    color: #555555;
    background: url(../images/tabs/888888_7x7_arrow_right.gif) .5em 50% no-repeat; }
    .ui-accordion-header a:hover {
      background: url(../images/tabs/454545_7x7_arrow_right.gif) .5em 50% no-repeat;
      color: #212121; }
  .ui-accordion-header:hover {
    background: #dadada url(../images/tabs/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
    color: #212121; }

.selected .ui-accordion-header {
  background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x; }
  .selected .ui-accordion-header:hover {
    background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x; }
  .selected .ui-accordion-header a {
    color: #212121;
    background: url(../images/tabs/454545_7x7_arrow_down.gif) .5em 50% no-repeat; }
    .selected .ui-accordion-header a:hover {
      color: #212121;
      background: url(../images/tabs/454545_7x7_arrow_down.gif) .5em 50% no-repeat; }

.ui-accordion-content {
  background: #ffffff url(../images/tabs/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  color: #222222;
  font-size: 1em; }
  .ui-accordion-content p {
    padding: 1em 1.7em 0.6em; }

.ui-tabs-nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  float: left;
  position: relative;
  z-index: 1;
  border-right: 1px solid #d3d3d3;
  bottom: -1px; }
  .ui-tabs-nav ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none; }
  .ui-tabs-nav li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    float: left;
    border: 1px solid #d3d3d3;
    border-right: none; }
    .ui-tabs-nav li a {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      line-height: 1.3;
      text-decoration: none;
      font-size: 100%;
      list-style: none;
      float: left;
      font-size: 1em;
      font-weight: normal;
      text-decoration: none;
      padding: .5em 1.7em;
      color: #555555;
      background: #e6e6e6 url(../images/tabs/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
      .ui-tabs-nav li a:hover {
        background: #dadada url(../images/tabs/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
        color: #212121; }
    .ui-tabs-nav li.ui-tabs-selected {
      border-bottom-color: #ffffff; }
      .ui-tabs-nav li.ui-tabs-selected a {
        background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
        color: #212121; }
        .ui-tabs-nav li.ui-tabs-selected a:hover {
          background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
          color: #212121; }

.ui-tabs-panel {
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  clear: left;
  border-top: 1px solid #d3d3d3;
  color: #222222;
  padding: 1.5em 0; }

.ui-tabs-hide {
  display: none; }

.ui-slider {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  background: #ffffff url(../images/tabs/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  border: 1px solid #aaaaaa;
  height: .8em;
  position: relative; }

.ui-slider-handle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  position: absolute;
  z-index: 2;
  top: -3px;
  width: 1.2em;
  height: 1.2em;
  background: #e6e6e6 url(../images/tabs/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  border: 1px solid #d3d3d3; }
  .ui-slider-handle:hover {
    background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
    border: 1px solid #999999; }

.ui-slider-handle-active {
  background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
  border: 1px solid #aaaaaa; }
  .ui-slider-handle-active:hover {
    background: #ffffff url(../images/tabs/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
    border: 1px solid #aaaaaa; }

.ui-slider-range {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  height: .8em;
  background: #dadada url(../images/tabs/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  position: absolute;
  border: 1px solid #d3d3d3;
  border-left: 0;
  border-right: 0;
  top: -1px;
  z-index: 1;
  opacity: .7;
  filter: Alpha(Opacity=70); }

.ui-dialog {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  background: #ffffff url(../images/tabs/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  color: #222222;
  border: 4px solid #aaaaaa;
  position: relative; }
  .ui-dialog.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    cursor: move; }

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  z-index: 99999; }

.ui-resizable .ui-resizable-handle {
  display: block; }

body .ui-resizable-disabled .ui-resizable-handle, body .ui-resizable-autohide .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0px; }

.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0px; }

.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0px;
  height: 100%; }

.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0px;
  height: 100%; }

.ui-resizable-se {
  cursor: se-resize;
  width: 13px;
  height: 13px;
  right: 0px;
  bottom: 0px;
  background: url(images/222222_11x11_icon_resize_se.gif) no-repeat 0 0; }

.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: 0px;
  bottom: 0px; }

.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: 0px;
  top: 0px; }

.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: 0px;
  top: 0px; }

.ui-dialog-titlebar {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  padding: .5em 1.5em .5em 1em;
  color: #555555;
  background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  border-bottom: 1px solid #d3d3d3;
  font-size: 1em;
  font-weight: normal;
  position: relative; }


.ui-dialog-titlebar-close {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  background: url(images/888888_11x11_icon_close.gif) 0 0 no-repeat;
  position: absolute;
  right: 8px;
  top: .7em;
  width: 11px;
  height: 11px;
  z-index: 100; }
  .ui-dialog-titlebar-close:hover, .ui-dialog-titlebar-close:active {
    background: url(images/454545_11x11_icon_close.gif) 0 0 no-repeat; }
  .ui-dialog-titlebar-close span {
    display: none; }

.ui-dialog-titlebar-close-hover {
  background: url(images/454545_11x11_icon_close.gif) 0 0 no-repeat; }

.ui-dialog-content {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  color: #222222;
  padding: 1.5em 1.7em; }

.ui-dialog-buttonpane {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #aaaaaa;
  background: #ffffff; }
  .ui-dialog-buttonpane button {
    margin: .5em 0 .5em 8px;
    color: #555555;
    background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
    font-size: 1em;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    line-height: 1.4em; }
    .ui-dialog-buttonpane button:hover {
      color: #212121;
      background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
      border: 1px solid #999999; }
    .ui-dialog-buttonpane button:active {
      color: #212121;
      background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
      border: 1px solid #aaaaaa; }

.ui-datepicker-div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  font-size: 1.1em;
  border: 4px solid #aaaaaa;
  width: 15.5em;
  padding: 2.5em .5em .5em .5em;
  position: relative;
  z-index: 9999;
  display: none; }

.ui-datepicker-inline {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  font-size: 1.1em;
  border: 4px solid #aaaaaa;
  width: 15.5em;
  padding: 2.5em .5em .5em .5em;
  position: relative;
  float: left;
  display: block; }

#ui-datepicker-div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  font-size: 1.1em;
  border: 4px solid #aaaaaa;
  width: 15.5em;
  padding: 2.5em .5em .5em .5em;
  position: relative;
  z-index: 9999;
  display: none; }

.ui-datepicker-control, .ui-datepicker-current {
  display: none; }

.ui-datepicker-next {
  position: absolute;
  left: .5em;
  top: .5em;
  background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  left: 14.6em; }
  .ui-datepicker-next:hover {
    background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
  .ui-datepicker-next a {
    text-indent: -999999px;
    width: 1.3em;
    height: 1.4em;
    display: block;
    font-size: 1em;
    background: url(images/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    background: url(images/888888_7x7_arrow_right.gif) 50% 50% no-repeat; }
    .ui-datepicker-next a:hover, .ui-datepicker-next a:active {
      background: url(images/454545_7x7_arrow_right.gif) 50% 50% no-repeat; }

.ui-datepicker-prev {
  position: absolute;
  left: .5em;
  top: .5em;
  background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
  .ui-datepicker-prev:hover {
    background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
  .ui-datepicker-prev a {
    text-indent: -999999px;
    width: 1.3em;
    height: 1.4em;
    display: block;
    font-size: 1em;
    background: url(images/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
    border: 1px solid #d3d3d3;
    cursor: pointer; }
    .ui-datepicker-prev a:hover, .ui-datepicker-prev a:active {
      background: url(images/454545_7x7_arrow_left.gif) 50% 50% no-repeat; }

.ui-datepicker-header select {
  border: 1px solid #d3d3d3;
  color: #555555;
  background: #e6e6e6;
  font-size: 1em;
  line-height: 1.4em;
  position: absolute;
  top: .5em;
  margin: 0 !important; }
  .ui-datepicker-header select.ui-datepicker-new-month {
    width: 7em;
    left: 2.2em; }
  .ui-datepicker-header select.ui-datepicker-new-year {
    width: 5em;
    left: 9.4em; }
.ui-datepicker-header option:focus, .ui-datepicker-header option:hover {
  background: #dadada; }

table.ui-datepicker {
  width: 15.5em;
  text-align: right; }
  table.ui-datepicker td a {
    padding: .1em .3em .1em 0;
    display: block;
    color: #555555;
    background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
    cursor: pointer;
    border: 1px solid #ffffff; }
    table.ui-datepicker td a:hover {
      border: 1px solid #999999;
      color: #212121;
      background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x; }
    table.ui-datepicker td a:active {
      border: 1px solid #aaaaaa;
      color: #212121;
      background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x; }
  table.ui-datepicker .ui-datepicker-title-row td {
    padding: .3em 0;
    text-align: center;
    font-size: .9em;
    color: #222222;
    text-transform: uppercase; }
    table.ui-datepicker .ui-datepicker-title-row td a {
      color: #222222; }

.ui-datepicker-cover {
  display: none;
  display/**/: block;
  position: absolute;
  z-index: -1;
  filter: mask();
  top: -4px;
  left: -4px;
  width: 193px;
  height: 200px; }

.ui-component {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-component-content {
  border: 1px solid #aaaaaa;
  background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 0 0 repeat-x;
  color: #222222; }
  .ui-component-content a {
    color: #222222;
    text-decoration: underline; }

.ui-default-state {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 url(images/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  font-weight: normal;
  color: #555555 !important; }
  .ui-default-state a {
    color: #555555; }
  .ui-default-state:hover {
    border: 1px solid #999999;
    background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
    font-weight: normal;
    color: #212121 !important; }
  .ui-default-state:active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
    font-weight: normal;
    color: #212121 !important;
    outline: none; }

.ui-hover-state {
  border: 1px solid #999999;
  background: #dadada url(images/dadada_40x100_textures_02_glass_75.png) 0 50% repeat-x;
  font-weight: normal;
  color: #212121 !important; }
  .ui-hover-state a {
    color: #212121; }

.ui-active-state {
  border: 1px solid #aaaaaa;
  background: #ffffff url(images/ffffff_40x100_textures_02_glass_65.png) 0 50% repeat-x;
  font-weight: normal;
  color: #212121 !important;
  outline: none; }
  .ui-active-state a {
    color: #212121;
    outline: none; }

.ui-arrow-right-default {
  background: url(images/888888_7x7_arrow_right.gif) no-repeat 50% 50%; }
  .ui-arrow-right-default:hover, .ui-arrow-right-default:active {
    background: url(images/454545_7x7_arrow_right.gif) no-repeat 50% 50%; }

.ui-arrow-right-hover, .ui-arrow-right-active {
  background: url(images/454545_7x7_arrow_right.gif) no-repeat 50% 50%; }

.ui-arrow-right-content {
  background: url(images/222222_7x7_arrow_right.gif) no-repeat 50% 50%; }

.ui-arrow-left-default {
  background: url(images/888888_7x7_arrow_left.gif) no-repeat 50% 50%; }
  .ui-arrow-left-default:hover, .ui-arrow-left-default:active {
    background: url(images/454545_7x7_arrow_left.gif) no-repeat 50% 50%; }

.ui-arrow-left-hover, .ui-arrow-left-active {
  background: url(images/454545_7x7_arrow_left.gif) no-repeat 50% 50%; }

.ui-arrow-left-content {
  background: url(images/222222_7x7_arrow_left.gif) no-repeat 50% 50%; }

.ui-arrow-down-default {
  background: url(images/888888_7x7_arrow_down.gif) no-repeat 50% 50%; }
  .ui-arrow-down-default:hover, .ui-arrow-down-default:active {
    background: url(images/454545_7x7_arrow_down.gif) no-repeat 50% 50%; }

.ui-arrow-down-hover, .ui-arrow-down-active {
  background: url(images/454545_7x7_arrow_down.gif) no-repeat 50% 50%; }

.ui-arrow-down-content {
  background: url(images/222222_7x7_arrow_down.gif) no-repeat 50% 50%; }

.ui-arrow-up-default {
  background: url(images/888888_7x7_arrow_up.gif) no-repeat 50% 50%; }
  .ui-arrow-up-default:hover, .ui-arrow-up-default:active {
    background: url(images/454545_7x7_arrow_up.gif) no-repeat 50% 50%; }

.ui-arrow-up-hover, .ui-arrow-up-active {
  background: url(images/454545_7x7_arrow_up.gif) no-repeat 50% 50%; }

.ui-arrow-up-content {
  background: url(images/222222_7x7_arrow_up.gif) no-repeat 50% 50%; }

.ui-close-default {
  background: url(images/888888_11x11_icon_close.gif) no-repeat 50% 50%; }
  .ui-close-default:hover, .ui-close-default:active {
    background: url(images/454545_11x11_icon_close.gif) no-repeat 50% 50%; }

.ui-close-hover, .ui-close-active, .ui-close-content {
  background: url(images/454545_11x11_icon_close.gif) no-repeat 50% 50%; }

.ui-folder-closed-default {
  background: url(images/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%; }
  .ui-folder-closed-default:hover, .ui-folder-closed-default:active {
    background: url(images/454545_11x11_icon_folder_closed.gif) no-repeat 50% 50%; }

.ui-folder-closed-hover, .ui-folder-closed-active {
  background: url(images/454545_11x11_icon_folder_closed.gif) no-repeat 50% 50%; }

.ui-folder-closed-content {
  background: url(images/888888_11x11_icon_folder_closed.gif) no-repeat 50% 50%; }

.ui-folder-open-default {
  background: url(images/888888_11x11_icon_folder_open.gif) no-repeat 50% 50%; }
  .ui-folder-open-default:hover, .ui-folder-open-default:active {
    background: url(images/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%; }

.ui-folder-open-hover, .ui-folder-open-active, .ui-folder-open-content {
  background: url(images/454545_11x11_icon_folder_open.gif) no-repeat 50% 50%; }

.ui-doc-default {
  background: url(images/888888_11x11_icon_doc.gif) no-repeat 50% 50%; }
  .ui-doc-default:hover, .ui-doc-default:active {
    background: url(images/454545_11x11_icon_doc.gif) no-repeat 50% 50%; }

.ui-doc-hover, .ui-doc-active {
  background: url(images/454545_11x11_icon_doc.gif) no-repeat 50% 50%; }

.ui-doc-content {
  background: url(images/222222_11x11_icon_doc.gif) no-repeat 50% 50%; }

.ui-arrows-leftright-default {
  background: url(images/888888_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%; }
  .ui-arrows-leftright-default:hover, .ui-arrows-leftright-default:active {
    background: url(images/454545_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%; }

.ui-arrows-leftright-hover, .ui-arrows-leftright-active {
  background: url(images/454545_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%; }

.ui-arrows-leftright-content {
  background: url(images/222222_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%; }

.ui-arrows-updown-default {
  background: url(images/888888_11x11_icon_arrows_updown.gif) no-repeat 50% 50%; }
  .ui-arrows-updown-default:hover, .ui-arrows-updown-default:active {
    background: url(images/454545_11x11_icon_arrows_updown.gif) no-repeat 50% 50%; }

.ui-arrows-updown-hover, .ui-arrows-updown-active {
  background: url(images/454545_11x11_icon_arrows_updown.gif) no-repeat 50% 50%; }

.ui-arrows-updown-content {
  background: url(images/222222_11x11_icon_arrows_updown.gif) no-repeat 50% 50%; }

.ui-minus-default {
  background: url(images/888888_11x11_icon_minus.gif) no-repeat 50% 50%; }
  .ui-minus-default:hover, .ui-minus-default:active {
    background: url(images/454545_11x11_icon_minus.gif) no-repeat 50% 50%; }

.ui-minus-hover, .ui-minus-active {
  background: url(images/454545_11x11_icon_minus.gif) no-repeat 50% 50%; }

.ui-minus-content {
  background: url(images/222222_11x11_icon_minus.gif) no-repeat 50% 50%; }

.ui-plus-default {
  background: url(images/888888_11x11_icon_plus.gif) no-repeat 50% 50%; }
  .ui-plus-default:hover, .ui-plus-default:active {
    background: url(images/454545_11x11_icon_plus.gif) no-repeat 50% 50%; }

.ui-plus-hover, .ui-plus-active {
  background: url(images/454545_11x11_icon_plus.gif) no-repeat 50% 50%; }

.ui-plus-content {
  background: url(images/222222_11x11_icon_plus.gif) no-repeat 50% 50%; }

.ui-hidden {
  display: none; }

.ui-accessible-hidden {
  position: absolute;
  left: -99999999px; }

.ui-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-clearfix {
  display: inline-block;
  display: block; }
  .ui-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

* html .ui-clearfix {
  height: 1%; }
