- @page_title = "Editing a Collection"

%p
  The Collections window allows you to edit your existing collections, add a new collection, or delete a collection.
  
  
%h2
  To add a collection
  
%p
  At the bottom of the list of collections, click on the
  %strong
    New
  button. This will take you to the New Collection window, where further instructions are provided.
  
  

%h2
  To edit an existing collection
  
%p
  To edit one of your existing collections, first locate the collection you need to change, and click on the
  %strong
    Edit
  button. Further instructions are provided in the edit screen.
  
  
  
%h2
  To delete a collection
  
%p
  If you would like to delete a collection, first locate the collection you need to delete, and click on the
  %strong
    Delete
  button to the right.
  
%p
  %strong
    NOTE:
  Once you delete a collection, it cannot be undone!