- @page_title = "Edit localization"
= sub_nav do
  = back_link("Content", admin_content_path)
  = back_link("Pages", admin_pages_path)
  
= render :partial => "form" , :locals => { :url => admin_page_page_localization_path( :page_id => params[:page_id], :id => @page_localization) } 
