- @window_title = "Content"
- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Pages", admin_pages_path} > Edit Localization"
- @page_image = "/images/sidebar/icon_content.png"
  
= render :partial => "form" , :locals => { :url => admin_page_page_localization_path( :page_id => params[:page_id], :id => @page_localization) } 
