- @page_title = "Metadata"

%p
  The
  %strong
    Metadata
  screen allows you to edit the metadata of your website. Metadata is
  %em
    "data about data"
  and is most commonly used by Search Engines to get information about your website. This information helps Search Engines work out what kinds of searches will make your website appear, and how high in the results they should be.
  
%p
  The three most important pieces of Metadata are the
  %strong
    Title, Keywords
  and
  %strong
    Description.
    
%p
  Additionally you can add
  %strong
    Google Analytics
  data to your website so that Google can track how many people visit your website. You will need a Google Analytics account and ID for this.
  

%h2
  Title Metadata
  
%p
  To edit your Title Metadata, click on the
  %strong
    Edit
  option to the right of the title option. This will take you to the Edit Screen for the Title Metadata.
  
%p
  Your Title Metadata should match the Title of your Website.
  
%h2
  Keywords Metadata
  
%p
  To edit your Keywords Metadata, click on the
  %strong
    Edit
  option to the right of the title option. This will take you to the Edit Screen for the Keywords Metadata.
  
%p
  Your Keywords should be words that somebody might use to search for your website. Separate each word with a comma.

%h2
  Description Metadata

%p
  To edit your Description Metadata, click on the
  %strong
    Edit
  option to the right of the title option. This will take you to the Edit Screen for the Description Metadata.
  
%p
  Some Search Engines will display your Description underneath your Title in their Search Results. Make your Description short and punchy.
  
  
%h2
  Google Analytics
  
%p
  To edit Google Analytics, click on the
  %strong
    Edit
  option to the right of the title option. This will take you to the Edit Screen for the Google Analytics.
  
%p
  You will need to have a Google Analytics ID to enter.