- @page_title = "Membership"
- @page_image = "/gluttonberg/images/sidebar/icon_content.png"
%ul#iconNav
  
  %li
    = link_to("Members", admin_members_path, :id => "membersNav" , :title => "Members")
  /%li
  /  = link_to("Blogs", admin_blogs_path, :id => "blogsNav", :title => "Blogs")
  