%h1
  GenericSettings controller, show action
%p
  Edit this file in
  %tt
    app/views/generic_settings/show.html.erb

= link_to 'Edit',  url(:edit_generic_setting,  @generic_setting)
|
= link_to 'Back', url(:generic_settings)