- @page_title = "Edit Collection"

%p
  Collections can be used to group together Assets that share common properties. You can add an Asset to as many collections as you like.

%h2
  Editing the Collection
  
%h3
  Name
  
%p
  %strong.note
    REQUIRED:
  Give your Collection a name. This is the only field and is mandatory.