- @page_title = "Locales"

%p
  The
  %strong
    Locales
  page allows you to set different locations in the world that may need different content,
  %em
    e.g.:
  to account for differences in United Kingdom and United States variations in English.
  
  
%p
  Each Locale is displayed in a table below with the Edit and Delete functions to the right.
  
  
%h2
  Adding a Locale
  
%p
  To add a new Locale, click on the
  %strong
    New
  button at the top right of the screen. This will take you to the
  %strong
    Add Locale
  screen where further instructions are available.
  
  
%h2
  Editing a Locale
  
%p
  To edit an existing Locale, click on the
  %strong
    Edit
  option to the right of the locale. This will take you to the
  %strong
    Edit Locale
  screen where further instructions are available.
  
  
  
%h2
  Deleting a Locale
  
%p
  To delete an existing locale, click on the
  %strong
    Delete
  option to the right of the locale. You will be prompted to confirm that you really want to delete the locale.
  
  
%p
  %strong.note
    NOTE:
  Once you delete a locale it cannot be undone.