- @page_title = "Add Locale"

%p
  The
  %strong
    Add Locale
  screen will allow you to add a new area/location to your website.
  
  
%h2
  Locale
  
%h3
  Name

%p
  %strong.note
    REQUIRED:
  Give the locale a name, such as
  %em
    South Australia
  or perhaps the
  %em
    United Kingdom.
    
%p
  The locale name should make it easy to identify the country, state, territory or district you are referring to.
  
  

%h3
  Slug

%p
  %strong.note
    REQUIRED:
  The locale will also need a "slug", which is a web-address friendly name. Generally you should go by the International Country Code (if it is a country) where possible, such as: AU for Australia, DE for Germany, or UK for the United Kingdom.
  
%h3
  Fallback Locale
  
%p
  If for any reason your Locale is unavailable, what should the system fall back to?
  

%h3
  Default
  
%p
  You will need to choose if this is your Default Locale. Only one Locale can be the default locale.
  
%p
  If you only have one locale, then it must be the Default Locale.
  
  
  
%h2
  Dialects
  
%p
  From your list of available Dialects, select the language spoken in the region.
  
%p
  %strong.note
    NOTE:
  If there are no Dialects here, please go to the
  %strong
    Dialects
  screen and add one.
  
  