- @window_title = "Membership"
- @page_title = "#{link_to "Membership", admin_membership_path} > #{link_to("Members", admin_members_path)} > Edit member"
- @page_image = "/gluttonberg/images/sidebar/icon_settings.png"

= render :partial => "form" , :locals => { :url => admin_members_path( @member) } 