%h1
  Index view
  
- if @<%= plural_name %>.blank?
  %p
    No <%= plural_class_name %>
- else
  - @<%= plural_name %>.each do |<%= singular_name %>|
    %p
      <% attributes.each do |attribute| -%>
        = link_to <%= singular_name %>.<%= attribute.name %>, <%= singular_name %>_path(<%= singular_name %>) 
        %br
      <% end %>