- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > #{link_to('Locales', admin_locales_path)} > Add a new locale"
- @page_image = "/gluttonberg/images/sidebar/icon_settings.png"

= render :partial => "form", :locals => { :url => admin_locales_path }