- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > #{link_to("Users", admin_users_path)} > Edit user"
- @page_image = "/images/sidebar/icon_settings.png"

= render :partial => "form" , :locals => { :url => admin_user_path( @user) } 