- @page_title = "Asset Library"

%p
  The Assets Library assists you with managing your documents, images, sound files, video, and much more, so these files can be used on your website.

%p
  The library is divided up into categories, and it has different sections for different types of assets. Gluttonberg can determine the kind of files you are adding, adding video to the video section automatically.

%p
  The categories within Gluttonberg can be added or customised as needed, and assets can go in more than one category as required.


%h2
  To add an asset.

%p
  Click on the Add Asset button in the top right of the screen. Further instructions are provided on the Add Asset page.


%h2
  To add a category

%p
  Click on the Add Category button in the top right of the screen. Further instructions are provided on the Add Category page.


%h2
  To browse through your library.

%p
  You can browse through your library by clicking on any one of the icons on the screen. For example, if you want to see all the images in your asset library, click on the images icon.

%p
  You can also browse the library by category.