- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Stylesheets", admin_stylesheets_path} > Add New Stylesheet"
- @page_image = "/gluttonberg/images/sidebar/icon_content.png"
= render :partial => "form", :locals => {:url => admin_stylesheets_path}