- @page_title = "Pages"


%p
  The
  %strong
    Pages
  screen displays your website's pages and structure. This is where you can make changes to your website, such as:
  
%ul
  %li
    Adding new pages
  %li
    Deleting existing pages
  %li
    Re-arranging pages within the website structure
  %li
    Editing existing pages.
    

%p
  Each row contains the details for an individual page, outlining the page's name, publish status, and behaviour.




%h2
  Add a New Page
  
%p
  To add a new page, click on the
  %strong
    New
  button at the top-right of the screen. This will take you to the
  %strong
    Add New Page
  screen where further instructions are available.




%h2
  Edit existing pages

%p
  To edit an existing page, you need to select either
  %em
    Details
  or
  %em
    Settings.

%h3
  Edit a Page's content
  
%p
  To edit a page's content, click on the
  %strong
    Details
  option to the right of the page you want to edit.
  
%p
  The Details screen will allow you to edit a page's
  %em
    Localizations
  &#8212;your content in different languages or for different places in the world. Most people will only have one localization, but if your site has different audiences around the world you may have many.
  
%p
  Localizations allow you to have content in different languages, or for different jurisdictions.
  
%p
  Further information on editing your content is available on the Details page.
  
  
%h3
  Edit a Page's Settings

%p
  If you need to change a page's settings, such as its Name, click on the
  %strong
    Settings
  option to the right of the page you want to edit.
  
%p
  Further instructions on editing settings are available within the Settings page.



%h2
  Change the Page Order
  
%p
  The order of pages can be changed by clicking and dragging the page rows up or down within the site structure.
  
%p
  To move a page between two other pages, drag the page until a thick black line appears between two rows, then release the mouse button.
  
%p
  To make the page a child of another page, drag the page over another row until the row turns blue, then release the mouse button.




%h2
  Delete a Page
  
%p
  Locate the page you would like to delete, and select 
  %strong
    Delete
  from the options in the right of the row. You will be prompted to confirm that you really want to delete the page.
  
%p
  %strong
    NOTE:
  Once you delete a page it cannot be undone. 
    