- @page_title = "Add New Page"

%p
  The
  %strong
    Add New Page
  screen allows you to create a new page for your website.
  
 
%h2
  General Settings
  
  
%h3
  Name
  
%p
  The
  %strong
    Name
  appears as the main heading on your web page and also in the Title Bar of your visitors web browser.
  
%h3
  Navigation Label
  
%p
  The
  %strong
    Navigation Label
  appears in any Navigational Menus on your website. It is usually a short version of the page name,
  %em
    i.e.:
  if the name is "Welcome to my Webpage", the Navigational Label may be "Welcome".
  
%h3
  Slug
  
%p
  The
  %strong
    Slug
  is a short word of phrase used in the web address (<abbr title="Universal Resource Locator">URL</abbr>) of your web site. The slug should be kept simple so it is easy for people to remember.
  
%p
  If your slug needs to have more than one word, use a hyphen to separate the words,
  %em
    i.e.:
  page-title
  
%h3
  Set as Homepage
  
%p
  If this is the first page you create, or if there isn't an existing homepage already, you may choose to tick the
  %strong
    Set as Homepage
  option.
  
%p
  %strong.note
    NOTE:
  If you already have a Homepage set, DO NOT SELECT THIS OPTION. There must only be one (1) Homepage at any time.

  
  
  
%h2
  Page Description
  
%p
  The
  %strong
    Page Description
  defines which web template the page will use.