- @page_title = "Page Details"
  
%p
  The
  %strong
    Details
  screen provides an overview of a page's settings, content areas, and localizations.
  
  
%h2
  To edit content:
  
%p
  Content can be edited in the
  %strong
    localizations
  section of the screen. Depending on your website's audience, you may have more than one localization: each localization allows you to customise your content for a particular language, culture, legal considerations, or other regional differences
  
%p
  To edit the content of a localization, click 
  %strong
    Edit
  to the right of the localization that needs changing.
  
%p
  %strong.note
    NOTE:
  Some websites may only have one localization. If this is the case, you may be able to click on the
  %strong
    Edit Content
  button at the top-right of the screen.
  
  
%p
  Instructions on editing content are available on the
  %strong
    Edit Localization
  screen.
  
  
%h2
  Edit Settings
  
%p
  The
  %strong
    Edit Settings
  button at the top-right of the screen will take you to the
  %strong
    Edit Settings
  screen if you need to change a page's title or navigation information.
  
%p
  Further information on editing settings are available on the
  %strong
    Edit Settings
  screen.