/* Asset Library */
ul.assetList a.assetArchive,
ul.assetList a.assetAudio,
ul.assetList a.assetBinary,
ul.assetList a.assetDocument,
ul.assetList a.assetImage,
ul.assetList a.assetVideo,
ul.assetList a.collection,
ul.assetList a.browseAll,
ul.assetList a.browseArchives,
ul.assetList a.browseAudios,
ul.assetList a.browseBinaries,
ul.assetList a.browseDocuments,
ul.assetList a.browseImages,
ul.assetList a.browseVideos,
ul.assetList a.browseUncategorised {
  height: 70px; }

input.text,
input.password,
input.checkbox,
input.radio,
textarea,
select {
  float: none;
  clear: right;
  display: block; }

.assetBrowserLink {
  margin-bottom: 1em;
  float: none;
  clear: none;
  display: block; }
  .assetBrowserLink strong, .assetBrowserLink a {
    float: left; }
  .assetBrowserLink strong {
    border: 1px solid #999999;
    whitespace: nowrap;
    padding: 0.35em 0.8em;
    margin: 0 0.5em 0 0;
    width: 17em;
    overflow: hidden; }

.mceEditor {
  float: none;
  clear: both;
  display: block;
  margin: -16px 0 20px 168px; }

select {
  margin-top: 0.3em;
  display: inline; }

input.checkbox {
  clear: none;
  display: inline; }

label.checkbox {
  float: none;
  clear: none;
  position: absolute;
  width: 100%;
  margin: 5px 0 0 0; }

input.collection {
  display: inline; }

#assetPanels a {
  height: 75px; }

/* OVERLAYS AND DIALOGS ============================================= */
/* Assets Dialog ---------------------------------------------------- */
#assetsDialogOverlay,
#overlay {
  background: url("/gluttonberg/images/library/dialog_overlay.png") repeat;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 20; }

/* Inline Help Dialog ----------------------------------------------- */
#helpDialog,
#assetsDialog {
  margin: 10% 0 0 10%;
  height: 80%;
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 21; }
  #helpDialog .controls,
  #assetsDialog .controls {
    padding: 0.8em 0;
    height: 1.8em;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0; }
  #helpDialog .display,
  #assetsDialog .display {
    width: 100%;
    height: 400px;
    float: left;
    clear: both;
    overflow: auto; }
    #helpDialog .display .assetList,
    #assetsDialog .display .assetList {
      left: 2%;
      right: 2%;
      width: 82%; }

#helpDialog .display {
  padding: 1.5em 5% 0 5%;
  width: 90%;
  height: 600px;
  overflow: auto; }
