- @page_title = "Pages"
= sub_nav do
  = back_link("Content", admin_content_path)
  = nav_link('New', new_admin_page_path)
    
- if @pages.empty?
  %p.empty No Pages
- else
  %table{:id => 'pages_table', :class => drag_tree_table_class, :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Pages" , :rel => drag_tree_url }
    %thead
      %tr
        %th Page
        %th.published Published        
        %th.controls Controls
    %tbody
      = page_table_rows(@pages)