- @window_title = "Content"
- @page_title = "#{link_to "Content", admin_content_path} > Pages"
- @page_image = "/images/sidebar/icon_content.png"
= sub_nav do
  - if current_user.super_admin?
    = nav_link('Add New Page', new_admin_page_path)
    
- if @pages.empty?
  %p.empty No Pages
- else
  %table{:id => 'pages_table', :class => (can?(:reorder , Gluttonberg::Page) ? drag_tree_table_class : "" ), :cellpadding => 0, :cellspacing => 0, :rel => "" , :summary => "Pages" , :rel => drag_tree_url }
    %thead
      %tr
        %th Page
        %th.author Author     
        %th.date Date
        %th.published_state Published
    %tbody
      = page_table_rows(@pages)