- @pages.each do |page|
  - default_localization = Gluttonberg::PageLocalization.find(:first , :conditions => { :page_id => page.id , :locale_id => Gluttonberg::Locale.first_default.id } )
  %option{ :value => default_localization.public_path }= page.name